/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */

@font-face {
    font-family: 'roboto_slabregular';
    src: url('./fonts/robotoslab-variablefont_wght-webfont.woff2') format('woff2'),
         url('./fonts/robotoslab-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_serif_4regular';
    src: url('./fonts/sourceserif4-variablefont_opszwght-webfont.woff2') format('woff2'),
         url('./fonts/sourceserif4-variablefont_opszwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: 'source_serif_4regular';
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.5px;
    word-spacing: 2px;
}

h1, h2{
    font-family: 'roboto_slabregular';
    letter-spacing: 3px;
}

h1{
    font-size: 3.5rem;
    text-align: center;
}

h2{
    font-size: 1.5rem;
    
}

h2+p{
    text-indent: 20px;
}

a{
    color:#a66;
    text-decoration: underline;
}

a:visited{
    color:rgb(152, 43, 43)
}

a:focus{
    color:rgb(94, 53, 53);
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: rgb(237, 146, 146);
    text-decoration: none;
}

.external::after{
    content: "";
    background: url('./external-link-52.png') no-repeat;
    background-size: 10px;
    width: 10px;
    height: 10px;
    margin-left: 2px;
    display: inline-block;
}

ul,ol{
    padding-top: 1em;
    padding-bottom: 1em;
}

li{
    line-height: 15px;
}

ul{
    list-style: none;
    padding-left: 20px; 
}

section ul li{
    background: url('./bullet\ point\ image.jpeg') no-repeat left center;
    background-size: 10px 10px;
    padding-left: 20px;
}

aside ul li{
    background: url('./bullet\ point\ image.jpeg') no-repeat left center;
    background-size: 10px 10px;
    padding-left: 20px;
}

nav ul{
    list-style: none;

}

nav ul li{
    margin-bottom: 20px;
}

nav ul li a{
    text-decoration: none;
    display: block;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(190, 113, 113);
    text-align: center;
    color: #a66;
}

