
html {
    font-family: sans-serif;
  }
  /* Your CSS below here */
 
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 720px;
  margin: 0;
  font-family: Arial, sans-serif;
}

div{
  padding: 50px;
  width: 200px;
  height: 150px;
  background-color: rgb(236, 10, 10);
  color:white;
  display: flex;
  /* 1rem = 16px, so 18px = 1.125rem */
  font-size: 1.125rem; 
  justify-content: center;
  align-items: center;

}